<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/nav.ejs') %>

<% if (locals.error) { %>
<div id="errorToast" class="toast position-fixed top-0 end-0 m-3">
  <div class="toast-body bg-danger text-white">
    Invalid Credential
  </div>
</div>
<% } %>

<% if (locals.success) { %>
<div id="successToast" class="toast position-fixed top-0 end-0 m-3">
  <div class="toast-body bg-success text-white">
    Login Successful
  </div>
</div>
<% } %>

<% if (locals.blogs) { %>
<div class="container  my-4">
  <div class="row row-cols-4">
    <% blogs.forEach(blog => { %>
      <div class="col mb-4">
       <div class="card" style="width: 18rem">
  <img src="<%= blog.coverImage %>" class="card-img-top" >
  <div class="card-body">
    <h5 class="card-title"><%= blog.title %></h5>
    <p class="card-text"><%= blog.body.slice(0,200) %></p>
    <a href="/blog/<%= blog._id %>" class="btn btn-primary">Read</a>
  </div>
</div>
</div>
      <% }) %>
  </div>
</div>
<% } %>

<%- include('partials/script.ejs') %>
<script>
document.addEventListener("DOMContentLoaded", function () {
  const error = document.getElementById("errorToast");
  const success = document.getElementById("successToast");

  if (error) new bootstrap.Toast(error).show();
  if (success) new bootstrap.Toast(success).show();
});
</script>
</body>
</html>